div {
    background: rgb(240, 240, 240);
}

.h1style {
    color: rgb(48, 44, 44);
    font-size: 35px;
    font-style: oblique;
}

.inputstyle {
    height: 8em;
    width: 40em;
    padding-bottom: 6em;
    padding-left: 0.5em;
    font-style: italic;
}

.dummytext {
    height: 20em;
    width: 40em;
    font-style: italic;
}

button {
    width: 10em;
    background-color: rgb(12, 12, 12);
    color: rgb(236, 222, 222);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 200;
    outline: none;
}
